/*****----- Configuration -----*****/
configuration {
	modi:                       "drun";
    show-icons:                 false;
    display-drun:               "";
    display-run:                "";
    display-filebrowser:        "";
    display-window:             "";
	drun-display-format:        "{name}";
	window-format:              "{w} · {c} · {t}";
}

/*****----- Global Properties -----*****/
* {
    /* Твой фирменный зеленый */
    green:          #74D600;
    bg:             #0a0a0ae6;

    font:           "JetBrains Mono Bold 12";
    background:     @bg;
    foreground:     @green;
    selected:       @green;
    urgent:         #ff5555;
    active:         @green;
}

/*****----- Main Window -----*****/
window {
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  false;
    width:                       600px;
    height:                      400px;
    enabled:                     true;
    border:                      2px solid; /* Добавил рамку, чтобы было как в поверменю */
    border-radius:               15px;
    border-color:                @green;
    background-color:            @background;
    cursor:                      "default";
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     30px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                var(selected);
    background-color:            transparent;
    children:                    [ "inputbar", "message", "listview", "mode-switcher" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     true;
    spacing:                     10px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                var(selected);
    background-color:            transparent;
    text-color:                  var(foreground);
    children:                    [ "prompt", "entry" ];
}

prompt {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}
textbox-prompt-colon {
    enabled:                     true;
    expand:                      false;
    str:                         "::";
    background-color:            inherit;
    text-color:                  inherit;
}
entry {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
    cursor:                      text;
    placeholder:                 "search...";
    placeholder-color:           inherit;
}
num-filtered-rows {
    enabled:                     true;
    expand:                      false;
    background-color:            inherit;
    text-color:                  inherit;
}
textbox-num-sep {
    enabled:                     true;
    expand:                      false;
    str:                         "/";
    background-color:            inherit;
    text-color:                  inherit;
}
num-rows {
    enabled:                     true;
    expand:                      false;
    background-color:            inherit;
    text-color:                  inherit;
}
case-indicator {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    columns:                     1;
    lines:                       6;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               true;
    
    spacing:                     5px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                var(selected);
    background-color:            transparent;
    text-color:                  var(foreground);
    cursor:                      "default";
}
scrollbar {
    handle-width:                5px ;
    handle-color:                var(foreground);
    border-radius:               8px;
    background-color:            var(background);
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    spacing:                     8px;
    margin:                      0px;
    padding:                     8px;
    border:                      0px solid;
    border-radius:               4px;
    border-color:                var(selected);
    background-color:            transparent;
    text-color:                  var(foreground);
    cursor:                      pointer;
}
element normal.normal {
    background-color:            var(background);
    text-color:                  var(foreground);
}
element normal.urgent {
    background-color:            var(background);
    text-color:                  var(urgent);
}
element normal.active {
    background-color:            var(background);
    text-color:                  var(active);
}
element selected.normal {
    background-color:            var(foreground);
    text-color:                  var(background);
}
element selected.urgent {
    background-color:            var(urgent);
    text-color:                  var(background);
}
element selected.active {
    background-color:            var(active);
    text-color:                  var(background);
}
element alternate.normal {
    background-color:            var(background);
    text-color:                  var(foreground);
}
element alternate.urgent {
    background-color:            var(background);
    text-color:                  var(foreground);
}
element alternate.active {
    background-color:            var(background);
    text-color:                  var(foreground);
}
element-icon {
    background-color:            transparent;
    text-color:                  inherit;
    size:                        24px;
    cursor:                      inherit;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    highlight:                   inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
}

/*****----- Mode Switcher -----*****/
mode-switcher{
    enabled:                     false;
    spacing:                     10px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                var(selected);
    background-color:            transparent;
    text-color:                  var(foreground);
}
button {
    padding:                     8px;
    border:                      0px solid;
    border-radius:               4px;
    border-color:                var(selected);
    background-color:            var(background);
    text-color:                  inherit;
    cursor:                      pointer;
}
button selected {
    background-color:            var(foreground);
    text-color:                  var(background);
}

/*****----- Message -----*****/
message {
    enabled:                     true;
    margin:                      0px;
    padding:                     0px;
    border:                      0px solid;
    border-radius:               0px 0px 0px 0px;
    border-color:                var(selected);
    background-color:            transparent;
    text-color:                  var(foreground);
}
textbox {
    padding:                     8px;
    border:                      0px solid;
    border-radius:               4px;
    border-color:                var(selected);
    background-color:            var(background);
    text-color:                  var(foreground);
    vertical-align:              0.5;
    horizontal-align:            0.0;
    highlight:                   none;
    placeholder-color:           var(foreground);
    blink:                       true;
    markup:                      true;
}
error-message {
    padding:                     10px;
    border:                      0px solid;
    border-radius:               4px;
    border-color:                var(selected);
    background-color:            var(background);
    text-color:                  var(foreground);
}
